# IntelliJ project files
.idea
.idea_modules
*.iml

# Data files
data/

# Output files
out/

# LaTeX output files
text/*.pdf
*.aux
*.bbl
*.blg
*.log
*.lot
*.lof
*.out
*.toc
*.synctex.gz

# OS X
.DS_Store
.localized

# vim
*.swp
